/*---------------------------
	Fonts
----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.section-padding {
  padding: 130px 0;
}
@media (max-width: 991px) {
  .section-padding {
    padding: 57px 0;
  }
}
@media (max-width: 767px) {
  .section-padding {
    padding: 57px 0;
  }
}

/*3.2 about-area */
/*---------------------------
#0.7  product-area
----------------------------*/
.my-container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1400px) {
  .my-container {
    max-width: 1320px;
    margin: 0 auto;
  }
}

.row-grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 991px) {
  .row-grids {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .row-grids {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-area {
  padding-bottom: 110px;
  background: #fbfbfb;
  overflow: hidden;
}
@media (max-width: 767px) {
  .product-area {
    padding-bottom: 60px;
  }
}
.product-area .tab-content {
  display: none;
}
.product-area .tab-content.active {
  display: block;
}
.product-area .product-tab {
  text-align: center;
  margin-bottom: 30px;
}
.product-area .product-tab .tab-link {
  border: 0;
  background: #e2e1e1;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  margin: 0 5px;
  padding: 5px 8px;
  border-radius: 5px;
}
.product-area .product-tab .tab-link.active {
  background-color: #FBDE7D;
}

.product-wrap .product-item {
  margin-bottom: 30px;
  background: #fafafa;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.product-wrap .product-item .product-img {
  padding: 60px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  z-index: 1;
}
.product-wrap .product-item .product-img img {
  max-width: 100%;
}
.product-wrap .product-item .product-img .offer-thumb {
  position: absolute;
  left: 0;
  top: 10px;
}
.product-wrap .product-item .product-img .offer-thumb span {
  display: inline-block;
  padding: 5px 20px;
  line-height: 25px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  color: #000;
  transition: all 0.4s;
  text-transform: uppercase;
  font-family: "Inter";
}
.product-wrap .product-item .product-img .heart {
  position: absolute;
  right: 10px;
  top: 0px;
}
.product-wrap .product-item .product-img .heart a {
  font-size: 30px;
  color: #dddc57;
  text-decoration: none;
}
.product-wrap .product-item:hover .product-img .offer-thumb {
  color: #000;
}
.product-wrap .product-item .product-content h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "PT Serif", serif;
}
@media (max-width: 767px) {
  .product-wrap .product-item .product-content h3 {
    font-size: 18px;
  }
}
.product-wrap .product-item .product-content h3 a {
  color: #000;
  text-decoration: none;
}
.product-wrap .product-item .product-content h3 a:hover {
  color: #D90214;
}
.product-wrap .product-item .product-content .cart-btn {
  margin-top: 10px;
}
.product-wrap .product-item .product-content .cart-btn a {
  display: block;
  padding: 10px 25px;
  font-size: 18px;
  color: #000;
  background: #fce9a9;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter";
}
.product-wrap .product-item .product-content .product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-wrap .product-item .product-content .product-btm .product-ratting ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.product-wrap .product-item .product-content .product-btm .product-ratting ul li {
  padding-right: 3px;
  color: #ff9600;
}
.product-wrap .owl-nav button.owl-next {
  left: auto;
  right: -50px;
  transform: translateY(-50%);
}
.product-wrap .owl-nav button {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  transition: all 0.3s;
  border: 0;
  background: transparent;
  color: #000;
  text-decoration: none;
  border-radius: 50%;
  font-size: 30px;
}
@media (max-width: 767px) {
  .product-wrap .owl-nav button {
    display: none;
  }
}
.product-wrap .owl-dots {
  text-align: center;
}
.product-wrap .owl-dots button {
  border: none;
  margin: 0 5px;
  width: 10px;
  height: 3px;
  border-radius: 10px;
}
.product-wrap .owl-dots button.active {
  background: #000;
  width: 25px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}
.section-title h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  font-family: "PT Serif", serif;
}
.section-title h4 {
  padding: 5px 20px;
  background: #fce9a9;
  display: inline-block;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-family: "PT Serif", serif;
}

.gallery-area .gallery-grids {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
@media (max-width: 991px) {
  .gallery-area .gallery-grids {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575px) {
  .gallery-area .gallery-grids {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery-area .gallery-grids .gallery-grid {
  border-radius: 5px;
  border: 2px solid #FCE8E7;
}
.gallery-area .gallery-grids .gallery-grid img {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}
.gallery-area .gallery-grids .gallery-grid .gallery-item {
  position: relative;
  display: block;
}
.gallery-area .gallery-grids .gallery-grid .gallery-item .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  transform: scale(0);
}
.gallery-area .gallery-grids .gallery-grid .gallery-item .icon img {
  max-width: 30px;
}
.gallery-area .gallery-grids .gallery-grid .gallery-item:hover .icon {
  transform: scale(1);
}

.faq-section {
  background: #fef5d7;
}
.faq-section .faq-wrap {
  display: flex;
}
@media (max-width: 991px) {
  .faq-section .faq-wrap {
    flex-wrap: wrap;
  }
}
.faq-section .faq-wrap .faq-heading {
  padding-right: 30px;
  flex-basis: 30%;
}
@media (max-width: 991px) {
  .faq-section .faq-wrap .faq-heading {
    flex-basis: 100%;
  }
}
.faq-section .faq-wrap .faq-heading .section-title {
  text-align: left;
}
.faq-section .faq-wrap .faq-items {
  flex-basis: 70%;
}
@media (max-width: 991px) {
  .faq-section .faq-wrap .faq-items {
    flex-basis: 100%;
  }
}
.faq-section .faq-wrap .faq-items .accordion-item {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.faq-section .faq-wrap .faq-items .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 20px;
}
.faq-section .faq-wrap .faq-items .accordion-item.active .accordion-content {
  max-height: 200px;
}
.faq-section .faq-wrap .faq-items .accordion-header {
  cursor: pointer;
  padding: 18px 20px;
  border-radius: 5px !important;
  border: none;
  text-align: left;
  width: 100%;
  outline: none;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-right: 30px;
}
.faq-section .faq-wrap .faq-items .accordion-header:before {
  position: absolute;
  right: 20px;
  top: 15px;
  content: "+";
  font-size: 25px;
}
.faq-section .faq-wrap .faq-items .accordion-item.active .accordion-header:before {
  content: "-";
}

/*** newsletter-popup-area ***/
.newsletter-popup-area-section {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: opacity 0.1s ease-in-out, z-index 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out, z-index 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, z-index 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.newsletter-popup-area-section .newsletter-popup-area {
  width: 800px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
@media (max-width: 991px) {
  .newsletter-popup-area-section .newsletter-popup-area {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .newsletter-popup-area-section .newsletter-popup-area {
    width: 90%;
  }
}
.newsletter-popup-area-section .newsletter-popup-area .newsletter-popup-ineer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 991px) {
  .newsletter-popup-area-section .newsletter-popup-area .newsletter-popup-ineer {
    display: block;
    overflow-y: scroll;
    max-height: 600px;
  }
}
.newsletter-popup-area-section .newsletter-popup-area .img-holder {
  width: 525px;
  float: left;
}
@media (max-width: 991px) {
  .newsletter-popup-area-section .newsletter-popup-area .img-holder {
    float: none;
    width: 100%;
  }
}
.newsletter-popup-area-section .newsletter-popup-area .img-holder img {
  width: 100%;
  max-width: 100%;
}
.newsletter-popup-area-section .newsletter-popup-area .details {
  width: calc(100% - 325px);
  float: left;
  padding: 35px;
}
@media (max-width: 991px) {
  .newsletter-popup-area-section .newsletter-popup-area .details {
    float: none;
    width: 90%;
    padding: 15px;
    padding-top: 60px;
  }
}
.newsletter-popup-area-section .newsletter-popup-area h4 {
  font-size: 24px;
  font-size: 1.6rem;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
}
.newsletter-popup-area-section .newsletter-popup-area p {
  font-size: 14px;
  font-size: 0.9333333333rem;
  margin: 0 0 2em;
  font-family: "Inter";
}
.newsletter-popup-area-section .newsletter-popup-area form div {
  position: relative;
  max-width: 360px;
}
.newsletter-popup-area-section .newsletter-popup-area form div input[type=email] {
  font-size: 14px;
  font-size: 0.9333333333rem;
  width: 100%;
  height: 50px;
  border: 1px solid #ebebeb;
  max-width: 327px;
  padding-left: 15px;
}
@media (max-width: 575px) {
  .newsletter-popup-area-section .newsletter-popup-area form div input[type=email] {
    max-width: 240px;
  }
}
.newsletter-popup-area-section .newsletter-popup-area form div input[type=email]:focus {
  outline: none;
}
.newsletter-popup-area-section .newsletter-popup-area form div button {
  height: 46px;
  width: 100%;
  line-height: 46px;
  border: 0;
  outline: 0;
  padding: 0 25px;
  -webkit-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  letter-spacing: 0;
  margin-top: 20px;
  background: #000;
  color: #fff;
  margin-bottom: 20px;
}
.newsletter-popup-area-section .newsletter-popup-area .newsletter-close-btn {
  background: transparent;
  border: 0;
  outline: 0;
  color: #000;
  font-size: 20px;
  font-size: 1.3333333333rem;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 450px) {
  .newsletter-popup-area-section .newsletter-popup-area .newsletter-close-btn {
    right: 0;
  }
}
.newsletter-popup-area-section .newsletter-popup-area .newsletter-close-btn:hover,
.newsletter-popup-area-section .newsletter-popup-area .newsletter-close-btn:focus {
  outline: none;
  box-shadow: none;
}
.newsletter-popup-area-section.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s ease-in-out, z-index 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out, z-index 1s ease-in-out;
  transition: opacity 1s ease-in-out, z-index 1s ease-in-out;
}

.footer-section {
  background: #fff6d8;
}
.footer-section .footer-grids {
  display: flex;
  justify-content: space-between;
  padding: 80px;
}
@media (max-width: 767px) {
  .footer-section .footer-grids {
    padding: 80px 30px 20px;
  }
}
@media (max-width: 575px) {
  .footer-section .footer-grids {
    padding: 40px 10px 20px;
  }
}
@media (max-width: 1199px) {
  .footer-section .footer-grids {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.footer-section .footer-grids .footer-grid:nth-child(1) {
  flex-basis: 35%;
  padding-right: 20px;
}
@media (max-width: 991px) {
  .footer-section .footer-grids .footer-grid:nth-child(1) {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .footer-section .footer-grids .footer-grid:nth-child(1) {
    flex-basis: 100%;
  }
}
@media (max-width: 1199px) {
  .footer-section .footer-grids .footer-grid {
    flex-basis: 20%;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .footer-section .footer-grids .footer-grid {
    flex-basis: 45%;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .footer-section .footer-grids .footer-grid {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
}
.footer-section .footer-grids .widget-title {
  margin-bottom: 25px;
  position: relative;
}
.footer-section .footer-grids .widget-title span {
  color: #000;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Inter";
}
.footer-section .footer-grids .newslatter-widget h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  font-family: "PT Serif", serif;
}
.footer-section .footer-grids .newslatter-widget p {
  margin-top: 0;
  font-size: 16px;
  font-family: "Inter";
}
.footer-section .footer-grids .newslatter-widget input {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #fff;
  border: 1px solid #000;
}
.footer-section .footer-grids .newslatter-widget form {
  display: flex;
  margin-bottom: 20px;
}
.footer-section .footer-grids .newslatter-widget form input {
  max-width: 250px;
  padding-left: 5px;
}
.footer-section .footer-grids .newslatter-widget form input:focus {
  color: #000;
}
.footer-section .footer-grids .newslatter-widget form button {
  width: 120px;
  background: #000;
  font-weight: 600;
  border: 0;
  color: #fff;
  margin-left: 10px;
}
.footer-section .footer-grids .newslatter-widget ul {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.footer-section .footer-grids .newslatter-widget ul li img {
  max-width: 30px;
}
.footer-section .footer-grids .newslatter-widget ul li + li {
  margin-left: 15px;
}
.footer-section .footer-grids .link-widget {
  overflow: hidden;
}
.footer-section .footer-grids .link-widget ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.footer-section .footer-grids .link-widget ul li {
  position: relative;
}
.footer-section .footer-grids .link-widget ul li a {
  color: rgb(128, 128, 128);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  display: block;
  text-decoration: none;
}
.footer-section .footer-grids .link-widget ul li a:hover {
  color: #D90214;
}
.footer-section .footer-grids .link-widget ul li + li {
  margin-top: 20px;
}

.offer-area {
  position: fixed;
  top: 50%;
  left: -80px;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.offer-area.cross {
  left: -150px;
}
.offer-area .offer-wrap {
  padding: 30px 50px 20px 30px;
  background: #000;
  transform: rotate(270deg);
  cursor: pointer;
  border-radius: 10px;
}
.offer-area h4 {
  color: #fff;
  margin: 0;
  font-size: 20px;
}
.offer-area .close {
  position: absolute;
  right: 8px;
  top: 45px;
  color: #fff;
  z-index: 11;
}/*# sourceMappingURL=style.css.map */